body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(100,14,180,1) 48%, rgba(0,0,0,1) 100%);
}

#cabeçalho{
    padding: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(66,22,107,1) 50%, rgba(0,0,0,1) 100%);
}

#header_main{
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#nav{
    font-size: 20px;
    color: white;
    padding: 20px 0px 20px 20px;
    text-align: start;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(54,24,82,1) 50%, rgba(0,0,0,1) 100%);
}

.list1{
    display: inline;
}

.link_menu{
    padding: 20px;
    color: blanchedalmond;
    font-weight: bold;
    text-decoration: none;
}

.figure{
    width: 33%;
    padding-top: 30px;
}
